
body {
    font-family: "Segoe UI", Arial, sans-serif;
    background: #f3f4f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

h1 {
    font-size: 32px;
    font-weight: 700;
    color: #06060f;
    margin-bottom: 25px;
}

body > div {
    background: rgb(255, 255, 255);
    padding: 18px 20px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.12);
    display: flex;
    gap: 10px;
    margin-bottom: 25px;
}

#taskInput {
    padding: 12px 14px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 15px;
    min-width: 260px;
    transition: all .2s ease;
}

#taskInput:focus {
    outline: none;
    border-color: #4c8bf5;
    box-shadow: 0 0 0 3px rgba(76,139,245,0.2);
}

#taskBtn {
    padding: 12px 18px;
    background: #4c8bf5;
    color: white;
    font-size: 15px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all .2s ease;
}

#taskBtn:hover {
    background: #3a79e0;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

#taskBtn:active {
    transform: scale(0.96);
}

#taskList {
    list-style: none;
    width: 100%;
    max-width: 420px;
}

#taskList li {
    background: white;
    padding: 12px 14px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}
